  <h2>Car #<%= @car.id %></h2>

   <ul>
      <li><strong>Manufacturer:</strong> <%= @car.manufacturer.name %></li>
      <li><strong>Color:</strong> <%= @car.color %></li>
      <li><strong>Year:</strong> <%= @car.year %></li>
      <li><strong>Mileage:</strong> <%= @car.mileage %></li>
    </ul>
