<!DOCTYPE html>
<html>
<head>
  <title>CarListings</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1> Car Listings </h1>


<h2><%= link_to "All Cars", cars_path %> | <%= link_to "Add Car", new_car_path %> | <%= link_to "All Manufacturers", manufacturers_path %> | <%= link_to "Add Manufacturer", new_manufacturer_path %></h2>

  <p>
    <%= flash[:notice] %>
  </p>
  <p>
    <%= flash[:alert] %>
  </p>

  <%= yield %>
</body>
</html>
